@model ShoppingCartModel
@using Nop.Web.Models.Checkout
@using Nop.Web.Models.ShoppingCart;
@{
    Layout = "~/Views/Shared/_ColumnsOneSub.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.ShoppingCart").Text);
}
@if (!Model.OnePageCheckoutEnabled)
{
    @Html.Action("CheckoutProgress", "Checkout", new {step = CheckoutProgressStep.Cart})
}
<div class="container page shopping-cart-page">
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span12" id="content">
                    <h1>@T("ShoppingCart")</h1>
                    @Html.Partial("OrderSummary", Model)
                </div>
            </div>
        </div>
    </div>
</div>