@{
    Layout = "~/Views/Shared/_ColumnsOneSub.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PageNotFound").Text);
}
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span12  " id="content">

                    <h1 class="style-1">@T("PageTitle.PageNotFound")</h1>
                    <div class="box-container">
                       @Html.Action("TopicBlock", "Topic", new { systemName = "PageNotFound" })
                    </div>
                </div>
            </div>
        </div>

        <div class="clear"></div>
    </div>
</div>

